.ball {
  span {
    display: inline-block;
    padding: 15px 20px;
    color: #AA96DA;
    max-width: 35rem;
    min-width: 35rem;
    max-height: 4rem;
    min-height: 4rem;
    text-align: center;
    font-size: 3.5rem;
    //animation: text 5s linear 2s infinite;
    will-change: transform;
  }
}
