.wrapper {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  background-color: #98ddca;
  .tv {
    width: 45rem;
    height: 45rem;

    border-radius: 50%;
    background: #98ddca;
    box-shadow: inset 20px 20px 60px #81bcac, inset -20px -20px 60px #affee8;

    display: grid;
    place-items: center;
    overflow: hidden;
  }
}

@keyframes text {
  20% {
    color: deeppink;
    filter: blur(3px);
  }

  50% {
    color: darkviolet;
  }

  80% {
    color: fuchsia;
  }
  100% {
    transform: translateX(50px) translateY(-50px) rotate(20deg) scale(3);
    color: black;
    opacity: 0;
    filter: blur(20px);
    display: none;
  }
}
