.wrapper {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  background-color: #98ddca;
  .tv {
    width: 55rem;
    height: 55rem;

    border-radius: 50%;
    background: #98ddca;
    box-shadow: inset 20px 20px 60px #81bcac, inset -20px -20px 60px #affee8;

    display: grid;
    place-items: center;
    overflow: hidden;
    @include respond(phone) {
      width: 40rem;
      height: 40rem;
    }
  }
}

@keyframes text {
  20% {
    color: deeppink;
    filter: blur(3px);
  }

  50% {
    color: darkviolet;
  }

  80% {
    color: fuchsia;
    opacity: 0;
  }
  100% {
    transform: translateY(-200px) rotate(-20deg) scale(2.5) skew(40deg, 40deg);
    color: transparent;
    filter: blur(30px);
    display: none;
  }
}
